<div class="details-container">
  <app-header></app-header>
  <nz-content>
    <app-logo></app-logo>
    <div nz-row nzGutter="8" nzAlign="middle" nzJustify="space-around" nzType="flex">
      <div nz-col nzXs="24" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
        <nz-card class="details-card">
          <div class="details-account-head-content">
            <div *ngIf="userService.user.avatarUrl" class="details-avatar-content">
              <nz-avatar class="details-avatar" [nzSize]="104"
                         [nzSrc]="userService.user.avatarUrl"></nz-avatar>
              <nz-upload
                [nzFilter]="filters"
                [nzCustomRequest]="customReq"
              >
                <button nz-button nzType="dashed">
                  <i nz-icon nzType="upload"></i>
                  <span>{{'upload' | translate}}</span>
                </button>
              </nz-upload>
            </div>
            <div *ngIf="!userService.user.avatarUrl" class="details-avatar-content">
              <nz-avatar class="details-avatar" [nzSize]="104"
                         [nzText]="userService.user.username.substring(0,1)"
                         [ngStyle]="{ 'background-color': '#f56a00' }"
                         style="vertical-align: middle;"></nz-avatar>
              <nz-upload
                [nzShowUploadList]="false"
                [nzFilter]="filters"
                [nzCustomRequest]="customReq"
              >
                <button nz-button nzType="dashed">
                  <i nz-icon nzType="upload"></i>
                  <span>{{'upload' | translate}}</span>
                </button>
              </nz-upload>
            </div>
            <div class="details-account-username">
              {{userService.user.username}}
              <i *ngIf="!userService.user.sex" nz-icon nzType="man" nzTheme="outline"></i>
              <i *ngIf="userService.user.sex" nz-icon nzType="woman" nzTheme="outline"></i>
            </div>
          </div>
          <nz-divider></nz-divider>
          <div>
            <div class="details-account-title">{{'userInfo' | translate}}</div>
            <p>
              <i class="details-account-info-icon" nz-icon nzType="idcard" nzTheme="outline"></i>
              {{userService.user.uid}}
            </p>
            <p>
              <i class="details-account-info-icon" nz-icon nzType="mail" nzTheme="outline"></i>
              {{userService.user.email}}
            </p>
            <p>
              <i class="details-account-info-icon" nz-icon nzType="key" nzTheme="outline"></i>
              <button nz-button nzType="dashed" (click)="copyPasskey()">{{'copy' | translate}}</button>
            </p>
            <div style="display: flex">
              <p class="details-account-info-icon">IP</p>
              {{userService.user.ip}}
            </div>
            <p>
              <i class="details-account-info-icon" nz-icon nzType="history" nzTheme="outline"></i>
              {{userService.user.created | date: 'yyyy-dd-MM HH:mm:ss'}}
            </p>
          </div>
          <nz-divider></nz-divider>
          <div>
            <div class="details-account-title">{{'personalData' | translate}}</div>
            <nz-tag class="details-account-data-tag"
                    [nzColor]="(userService.user.uploaded | rate: userService.user.downloaded) | tagColor:'rate'">{{'rate' | translate}}
              : {{userService.user.uploaded | rate: userService.user.downloaded}}</nz-tag>
            <nz-tag class="details-account-data-tag"
                    [nzColor]="userService.user.uploaded | tagColor">{{'uploaded' | translate}}
              : {{userService.user.uploaded | byte}}</nz-tag>
            <nz-tag class="details-account-data-tag"
                    [nzColor]="userService.user.downloaded | tagColor">{{'downloaded' | translate}}
              : {{userService.user.downloaded | byte}}</nz-tag>
            <nz-tag class="details-account-data-tag"
                    [nzColor]="'cyan'">{{'exp' | translate}}: {{userService.user.exp}}</nz-tag>
            <nz-tag class="details-account-data-tag"
                    [nzColor]="'gold'">{{'gold' | translate}}: {{userService.user.gold}}</nz-tag>
            <nz-tag class="details-account-data-tag"
                    [nzColor]="'purple'">{{'diamond' | translate}}: {{userService.user.diamond}}</nz-tag>
          </div>
        </nz-card>
      </div>
      <div nz-col nzXs="24" nzSm="18" nzMd="18" nzLg="18" nzXl="18">
        <nz-card class="details-card">
          <nz-tabset>
            <nz-tab [nzTitle]="'release' | translate">
              <nz-card-meta
                [nzTitle]="empty"
              ></nz-card-meta>
            </nz-tab>
            <nz-tab [nzTitle]="'upload' | translate">
              <nz-card-meta
                [nzTitle]="empty"
              ></nz-card-meta>
            </nz-tab>
            <nz-tab [nzTitle]="'download' | translate">
              <nz-card-meta
                [nzTitle]="empty"
              ></nz-card-meta>
            </nz-tab>
            <nz-tab [nzTitle]="'seed' | translate">
              <nz-card-meta
                [nzTitle]="empty"
              ></nz-card-meta>
            </nz-tab>
          </nz-tabset>
        </nz-card>
      </div>
    </div>
  </nz-content>
  <app-footer></app-footer>
</div>
<ng-template #empty>
  <nz-empty [nzNotFoundContent]="'noData' | translate"></nz-empty>
</ng-template>
