<div class="list-container">
  <app-header></app-header>
  <div class="list-content">
    <app-logo></app-logo>
    <div class="list-table-container">
      <nz-table
        class="list-table"
        #ajaxTable
        nzShowSizeChanger
        nzPaginationPosition="both"
        [nzFrontPagination]="false"
        [nzData]="listOfData"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData(categoryName)"
        (nzPageSizeChange)="searchData(categoryName, true)"
        [nzScroll]="{ x: '1080px' }"
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowExpand></th>
          <th>{{'roofPlacement' | translate}}</th>
          <th>{{'type' | translate}}</th>
          <th nzShowSort nzSortKey="title">{{'title' | translate}}</th>
          <th nzShowSort nzSortKey="size"><span>{{'size' | translate}}</span></th>
          <th><span>{{'upload' | translate}}</span></th>
          <th><span>{{'download' | translate}}</span></th>
          <th><span>{{'complete' | translate}}</span></th>
          <th nzShowSort nzSortKey="created"><span>{{'publishedIn' | translate}}</span></th>
          <th nzShowSort nzSortKey="uid"><span>{{'author' | translate}}</span></th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-data [ngForOf]="ajaxTable.data" let-i="index">
          <tr>
            <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
            <td>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-pin'"
                 *ngFor="let n of (data.pin | numberToArray)"></i>
            </td>
            <td>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-dianying'" *ngIf="data.categoryName == 'Movie'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-music_icon'" *ngIf="data.categoryName == 'Music'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-book'" *ngIf="data.categoryName == 'Book'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-icon-test'" *ngIf="data.categoryName == 'Study'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-youxi'" *ngIf="data.categoryName == 'Game'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-ruanjian1'"
                 *ngIf="data.categoryName == 'Software'"></i>
            </td>
            <td>
              <h4>{{data.title}}</h4>
              <span nz-text nzType="secondary">{{data.subtitle}}</span>
            </td>
            <td>
              <nz-tag>
                {{getPeerCount(i, 'size') | byte}}
              </nz-tag>
            </td>
            <td>
              <nz-tag [nzColor]="getPeerCount(i, 'upload') | tagColor:'peer'">
                {{getPeerCount(i, 'upload')}}
              </nz-tag>
            </td>
            <td>
              <nz-tag [nzColor]="getPeerCount(i, 'download') | tagColor:'peer'">
                {{getPeerCount(i, 'download')}}
              </nz-tag>
            </td>
            <td>
              <nz-tag [nzColor]="getPeerCount(i, 'complete') | tagColor:'peer'">
                {{getPeerCount(i, 'complete')}}
              </nz-tag>
            </td>
            <td>{{ data.created | datetime}}</td>
            <td>
              <button nz-button nzType="default" [routerLink]="'/user/detail'" [queryParams]="{id: data.uid}">
                {{ data.username}}
              </button>
            </td>
          </tr>
          <tr [nzExpand]="mapOfExpandData[data.id]">
            <td></td>
            <td colSpan="3">
              <ng-container *ngIf="data.douban">
                <img [src]="data.douban.image" [alt]="data.douban.title">
              </ng-container>
              <ng-container *ngIf="!data.douban && data.imdb">
                <img [src]="data.imdb.poster" [alt]="data.imdb.title">
              </ng-container>
            </td>

            <td colspan="7">
              <ng-container *ngIf="data.douban">
                <div *ngIf="data.douban.ratingAverage">
                <span nz-text>{{'doubanScore' | translate}}: <code>{{data.douban.ratingAverage}}</code>/10
                  from {{data.douban.ratingNumRaters}}
                  users.</span>
                </div>
                <div *ngIf="data.douban.summary">
                  <span nz-text>{{data.douban.summary}}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="!data.douban && data.imdb">
                <div *ngIf="data.imdb.imdbRating">
                  <span nz-text>{{'imdbScore' | translate}}: <code>{{data.imdb.imdbRating}}</code>/10
                  from {{data.imdb.imdbVotes}}
                    users.</span>
                </div>
                <div *ngIf="data.imdb.plot">
                  <span nz-text>{{data.imdb.plot}}</span>
                </div>
              </ng-container>

              <div *ngFor="let series of data.seriesList">
                <nz-divider></nz-divider>
                <nz-tag nz-tooltip nzTooltipTitle="series id">
                  {{series.id}}
                </nz-tag>
                <nz-tag nzColor="green" nz-tooltip nzTooltipTitle="series name">
                  {{series.name}}
                </nz-tag>
                <nz-tag *ngIf="series.remarks" nzColor="blue" nz-tooltip nzTooltipTitle="series remarks">
                  {{series.remarks}}
                </nz-tag>
                <div *ngIf="series.torrentList">
                  <div *ngFor="let torrent of series.torrentList.slice(0,10)">
                    <nz-divider></nz-divider>
                    <div>
                      <p nz-paragraph
                         nzEllipsis
                         nzEditable
                         nzCopyable
                         nzExpandable
                         [nzContent]="torrent.fileName"></p>
                    </div>
                    <div class="list-torrent-text-item">
                      <span nz-text> {{'torrentSize' | translate}}: <code>{{torrent.fileSize | byte}}</code></span>
                      <span nz-text>{{'size' | translate}}: <code>{{torrent.size | byte}}</code></span>
                    </div>
                    <div class="list-torrent-text-item">
                      <span nz-text>{{'discount' | translate}}: <code>U{{torrent.discount.upload * 100}}
                        %</code> | <code>D{{torrent.discount.download * 100}}
                        %</code> | <code>S{{torrent.discount.seed * 100}}%</code></span>
                    </div>
                    <div class="list-torrent-text-item">
                    <span nz-text>{{'upload' | translate}}: <nz-tag
                      [nzColor]="torrent.uploadCount | tagColor:'peer'">{{torrent.uploadCount}}</nz-tag> | {{'download' | translate}}
                      : <nz-tag
                        [nzColor]="torrent.downloadCount | tagColor:'peer'">{{torrent.downloadCount}}</nz-tag> | {{'complete' | translate}}
                      : <nz-tag [nzColor]="torrent.completeCount | tagColor:'peer'">{{torrent.completeCount}}</nz-tag>
                    </span>
                    </div>
                    <button nz-button nzType="primary" (click)="downloadTorrent(torrent.id)">
                      {{'downloadTorrent' | translate}}
                    </button>
                  </div>
                </div>
              </div>

              <nz-divider></nz-divider>
              <button nz-button nzType="primary" [routerLink]="'/post/detail'"
                      [queryParams]="{id: data.id}">{{'seeMore' | translate}}</button>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
  <app-footer></app-footer>
</div>
