<div class="list-container">
  <app-header></app-header>
  <div class="list-content">
    <app-logo></app-logo>
    <div class="list-table-container">
      <nz-table
        class="list-table"
        #ajaxTable
        nzBordered
        nzShowSizeChanger
        nzPaginationPosition="both"
        [nzFrontPagination]="false"
        [nzData]="listOfData"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData(categoryName)"
        (nzPageSizeChange)="searchData(categoryName, true)"
        [nzScroll]="{ x: '1080px' }"
      >
        <!--        表头-->
        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th [nzAlign]="'center'" nzShowExpand nzWidth="64px">{{'expand' | translate}}</th>
          <th [nzAlign]="'center'" nzWidth="64px">{{'roofPlacement' | translate}}</th>
          <th [nzAlign]="'center'" nzWidth="64px">{{'type' | translate}}</th>
          <th [nzAlign]="'center'" nzShowSort nzSortKey="title" nzWidth="300px">{{'title' | translate}}</th>
          <th [nzAlign]="'center'" nzShowSort nzSortKey="size" nzWidth="100px"><span>{{'size' | translate}}</span></th>
          <th [nzAlign]="'center'" nzWidth="72px"><span>{{'upload' | translate}}</span></th>
          <th [nzAlign]="'center'" nzWidth="72px"><span>{{'download' | translate}}</span></th>
          <th [nzAlign]="'center'" nzWidth="72px"><span>{{'complete' | translate}}</span></th>
          <th [nzAlign]="'center'" nzShowSort nzSortKey="created" nzWidth="100px">
            <span>{{'publishedIn' | translate}}</span></th>
          <th [nzAlign]="'center'" nzWidth="100px"><span>{{'lastUpdate' | translate}}</span></th>
          <th [nzAlign]="'center'" nzShowSort nzSortKey="uid" nzWidth="100px"><span>{{'author' | translate}}</span></th>
        </tr>
        </thead>
        <!--        body-->
        <tbody>
        <!--        循环取出每一条数据-->
        <ng-template ngFor let-data [ngForOf]="ajaxTable.data" let-i="index">
          <tr>
            <!--            展开按钮-->
            <td [nzAlign]="'center'" nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
            <!--            是否置顶图标-->
            <td [nzAlign]="'center'">
              <i class="list-icon" nz-icon [nzIconfont]="'icon-pin'"
                 *ngFor="let n of (data.pin | numberToArray)"></i>
            </td>
            <!--            种子类型图标-->
            <td [nzAlign]="'center'">
              <i class="list-icon" nz-icon [nzIconfont]="'icon-dianying'" *ngIf="data.categoryName == 'Movie'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-music_icon'" *ngIf="data.categoryName == 'Music'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-book'" *ngIf="data.categoryName == 'Book'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-icon-test'" *ngIf="data.categoryName == 'Study'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-youxi'" *ngIf="data.categoryName == 'Game'"></i>
              <i class="list-icon" nz-icon [nzIconfont]="'icon-ruanjian1'"
                 *ngIf="data.categoryName == 'Software'"></i>
            </td>
            <!--            标题-->
            <td>
              <h4>{{data.title}}</h4>
              <span nz-text nzType="secondary">{{data.subtitle}}</span>
            </td>
            <!--            大小-->
            <td [nzAlign]="'center'">
              <nz-tag>
                {{getPeerCount(i, 'size') | byte}}
              </nz-tag>
            </td>
            <!--            上传人数-->
            <td [nzAlign]="'center'">
              <nz-tag [nzColor]="getPeerCount(i, 'upload') | tagColor:'peer'">
                {{getPeerCount(i, 'upload')}}
              </nz-tag>
            </td>
            <!--            下载人数-->
            <td [nzAlign]="'center'">
              <nz-tag [nzColor]="getPeerCount(i, 'download') | tagColor:'peer'">
                {{getPeerCount(i, 'download')}}
              </nz-tag>
            </td>
            <!--            完成人数-->
            <td [nzAlign]="'center'">
              <nz-tag [nzColor]="getPeerCount(i, 'complete') | tagColor:'peer'">
                {{getPeerCount(i, 'complete')}}
              </nz-tag>
            </td>
            <!--            创建时间-->
            <td [nzAlign]="'center'">{{ data.create | datetime}}</td>
            <!--            更新时间-->
            <td [nzAlign]="'center'">{{ data.modify | datetime}}</td>
            <!--            发布人-->
            <td [nzAlign]="'center'">
              <button nz-button nzType="default" [routerLink]="'/user/detail'" [queryParams]="{id: data.userAuthId}">
                {{ data.username}}
              </button>
            </td>
          </tr>
          <tr [nzExpand]="mapOfExpandData[data.id]">

            <div nz-row nzAlign="middle" nzJustify="space-around" nzType="flex">
              <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
                <ng-container *ngIf="data.douban">
                  <img [src]="data.douban.poster" [alt]="data.douban.title">
                </ng-container>
                <ng-container *ngIf="!data.douban && data.imdb">
                  <img [src]="data.imdb.poster" [alt]="data.imdb.title">
                </ng-container>
              </div>

              <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="18" nzXl="18">
                <ng-container *ngIf="data.douban">
                  <div *ngIf="data.douban.ratingAverage">
                            <span nz-text>{{'doubanScore' | translate}}: <code>{{data.douban.ratingAverage}}</code>/10
                              from {{data.douban.ratingNumRaters}}
                              users.</span>
                  </div>
                  <div *ngIf="data.douban.summary">
                    <span nz-text>{{data.douban.summary}}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="!data.douban && data.imdb">
                  <div *ngIf="data.imdb.ratingAverage">
                              <span nz-text>{{'imdbScore' | translate}}: <code>{{data.imdb.ratingAverage}}</code>/10
                              from {{data.imdb.ratingNumRaters}}
                                users.</span>
                  </div>
                  <div *ngIf="data.imdb.summary">
                    <span nz-text>{{data.imdb.summary}}</span>
                  </div>
                </ng-container>

                <div *ngFor="let series of data.seriesList">
                  <nz-divider></nz-divider>
                  <nz-tag nz-tooltip nzTooltipTitle="series id">
                    {{series.id}}
                  </nz-tag>
                  <nz-tag nzColor="green" nz-tooltip nzTooltipTitle="series name">
                    {{series.seriesName}}
                  </nz-tag>
                  <nz-tag *ngIf="series.remark" nzColor="blue" nz-tooltip nzTooltipTitle="series remarks">
                    {{series.remark}}
                  </nz-tag>
                  <div *ngIf="series.torrentList">
                    <div *ngFor="let torrent of series.torrentList.slice(0,10)">
                      <nz-divider></nz-divider>
                      <div>
                        <p nz-paragraph
                           nzEllipsis
                           nzEditable
                           nzCopyable
                           nzExpandable
                           [nzContent]="torrent.fileName"></p>
                      </div>
                      <div class="list-torrent-text-item">
                        <span nz-text> {{'torrentSize' | translate}}: <code>{{torrent.fileSize | byte}}</code></span>
                        <span nz-text>{{'size' | translate}}: <code>{{torrent.torrentSize | byte}}</code></span>
                      </div>
                      <div class="list-torrent-text-item">
                                  <span nz-text>{{'discount' | translate}}: <code>U{{torrent.discount.uploading * 100}}
                                    %</code> | <code>D{{torrent.discount.downloading * 100}}
                                    %</code> | <code>S{{torrent.discount.seeding * 100}}%</code></span>
                      </div>
                      <div class="list-torrent-text-item">
                                <span nz-text>{{'upload' | translate}}: <nz-tag
                                  [nzColor]="torrent.peer.uploadCount | tagColor:'peer'">{{torrent.peer.uploadCount}}</nz-tag> | {{'download' | translate}}
                                  : <nz-tag
                                    [nzColor]="torrent.peer.downloadCount | tagColor:'peer'">{{torrent.peer.downloadCount}}</nz-tag> | {{'complete' | translate}}
                                  : <nz-tag
                                    [nzColor]="torrent.peer.completeCount | tagColor:'peer'">{{torrent.peer.completeCount}}</nz-tag>
                                </span>
                      </div>
                      <button nz-button nzType="primary" (click)="downloadTorrent(torrent.id)">
                        {{'downloadTorrent' | translate}}
                      </button>
                    </div>
                  </div>
                </div>

                <nz-divider></nz-divider>
                <button nz-button nzType="primary" [routerLink]="'/post/detail'"
                        [queryParams]="{id: data.id}">{{'seeMore' | translate}}</button>
              </div>
            </div>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
  <app-footer></app-footer>
</div>
